
.container_12{
	background-color: lightgray;
}
.grid_12 {

	margin-left: 5px;
	background-color: lightgray;
	border-bottom: 2px solid black;
	padding: 25px;
}

#home{
	height: 30px;
}
hr{

  border: black;
  background-color: #fff;
  border-top: 1px dashed #8c8c8c;
}
.grid_12 h1{
	font-size: 60px;
	margin-top: 30px;
	font-family: cursive;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-shadow: 5px 10px 10px red;
}
.grid_12 img{
	float: left;
	margin-right: 20px;
}
.grid_12 h2{
	font-size: 40px;
	line-height: 40px;
}
.preview{
	float: right;
	width: 600px;
}
.meta {
	padding-left: 0;
}
.meta a{
	font-size: 14px;
	text-decoration: none;
	font-size: 15px;
	font-family: sans-serif;
	font-style: italic;
}
.meta li{
	display: inline;
	color:black;
}
.meta li:after{
	content: '-';
	padding: 0 2px;
}
.meta li:last-child:after{
	content: none;
}
.meta li a{
	text-decoration: none;
	color: black;
}
.meta li a:hover{
	text-decoration: underline;
	color : red;
}
.wrap{
	color: gray;
}
.wrap a{
	text-decoration: none;
	color: gray;
}
.wrap a:hover{
	text-decoration: underline;
	color: red;
}
.grid_4{
	
	height: 100px;
	background-color: lightgray;
}
.box{
	text-align: right;
}
.box a{
	text-decoration: none;
	color : gray;
}
.box a:hover{
	text-decoration: underline;;
	color: red;
}
.head{
	text-align: center;
	font-size: 50px;
}
.nave li{
	display: inline;
	padding-left: 0px;
	color: black;
}
.nave li a{
	text-decoration: none;
	font-size: 15px;
	font-style: italic;
	color: black;
}
.nave li a:hover{
	text-decoration: underline;
	color:red;
}